body {
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto;
}

.logo {
  width: 320px;
  height: 100%;
}

.navlog {
  max-width: 100px;
  max-height: 100px;
}

.navbg {
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cardbg {
  background-color: #a82b71;
  background-image: linear-gradient(
    225deg,
    #a82b71 0%,
    #4d3675 50%,
    #083e60 100%
  );
}

.test {
  width: 50%;
}

.bient {
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bient-b {
  background-color: #21d4fd;
  background-image: linear-gradient(205deg, #21d4fd 0%, #b721ff 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yoda {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.casi {
  max-width: 500px;
  height: 250px;
}

/* radius top */

.rd {
  border-radius: 20px 20px 0 0;
}

/* radius full */

.rd-full {
  border-radius: 20px 20px 20px 20px;
}
